:root {
    --color-dark-green: rgb(30, 40, 39);
    --color-black: rgb(20, 20, 20);
    --color-white: rgb(255, 255, 255);

    --color-black-alpha: rgba(20, 20, 20, 0.5);
    --color-white-alpha: rgba(255, 255, 255, 0.5);

    --typical-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}