<section class="about section">
  <div class="about_container container">
    <div class="about_div">
      <div class="about_title_text">
        <h2 id="about" class="about_title">About us</h2>
        <ul class="about_list">
          <li class="about_item">
            <p class="about_text">
              Welcome to our premium watch collection, where luxury and style
              meet functionality and precision. Our selection of timepieces
              embodies the very best in Swiss craftsmanship and engineering,
              ensuring that you'll always have a reliable and stylish accessory
              on your wrist.
            </p>
          </li>
          <li class="about_item about_item_right">
            <p class="about_text">
              At our premium watch collection, we believe that a watch is more
              than just a timekeeping device - it's a statement piece that
              reflects your personality and style. So why settle for anything
              less than the best? Browse our collection today and discover the
              perfect watch for you.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
