<section class="section catalog-watch">
  <div class="container">
    <h2 class="catalog-box-title">Catalog</h2>
    <ul class="catalog-list">
      <!-- watch model 1-->
      <li class="content-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/catalog/catalog-model1.png    1x,
                  ./img/catalog/catalog-model1@2x.png 2x
                "
                src="./img/catalog/catalog-model1.png"
                alt="watch model 1"
                width="276"
                height="274"
                class="catalog-img"
              />
            </div>
            <div class="flip-card-back">
              <div class="card-back-content">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <h3 class="overlay-title">Details & featurestion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <a href="">
            <h3 class="catalog-title">
              Tube Watch S42 Date Steel With Black...
            </h3>
          </a>
          <p class="catalog-text">€395</p>
        </div>
      </li>
      <!-- watch model 2-->
      <li class="content-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/catalog/catalog-model2.png    1x,
                  ./img/catalog/catalog-model2@2x.png 2x
                "
                src="./img/catalog/catalog-model2.png"
                alt="watch model 2"
                width="276"
                height="274"
                class="catalog-img"
              />
            </div>
            <div class="flip-card-back">
              <div class="card-back-content">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <h3 class="overlay-title">Details & featurestion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <a href="">
            <h3 class="catalog-title">Avondale Watch Police For Men</h3>
          </a>
          <p class="catalog-text">€800</p>
        </div>
      </li>
      <!-- watch model 3-->
      <li class="content-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/catalog/catalog-model3.png    1x,
                  ./img/catalog/catalog-model3@2x.png 2x
                "
                src="./img/catalog/catalog-model3.png"
                alt="watch model 3"
                width="276"
                height="274"
                class="catalog-img"
              />
            </div>
            <div class="flip-card-back">
              <div class="card-back-content">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <h3 class="overlay-title">Details & featurestion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <a href="">
            <h3 class="catalog-title">
              Diver 300M Co-Axial Master Chronometer..
            </h3>
          </a>
          <p class="catalog-text">€600</p>
        </div>
      </li>
      <!-- watch model 4-->
      <li class="content-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/catalog/catalog-model4.png    1x,
                  ./img/catalog/catalog-model4@2x.png 2x
                "
                src="./img/catalog/catalog-model4.png"
                alt="watch model 4"
                width="276"
                height="274"
                class="catalog-img"
              />
            </div>
            <div class="flip-card-back">
              <div class="card-back-content">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <h3 class="overlay-title">Details & featurestion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <a href="">
            <h3 class="catalog-title">
              Diver 300M Co-Axial Master Chronometer
            </h3>
          </a>
          <p class="catalog-text">€1400</p>
        </div>
      </li>
      <!-- watch model 5-->
      <li class="content-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/catalog/catalog-model5.png    1x,
                  ./img/catalog/catalog-model5@2x.png 2x
                "
                src="./img/catalog/catalog-model5.png"
                alt="watch model 5"
                width="276"
                height="274"
                class="catalog-img"
              />
            </div>
            <div class="flip-card-back">
              <div class="card-back-content">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <h3 class="overlay-title">Details & featurestion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <a href="">
            <h3 class="catalog-title">Taman Watch By Police For Men</h3>
          </a>
          <p class="catalog-text">€500</p>
        </div>
      </li>
      <!-- watch model 6-->
      <li class="content-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/catalog/catalog-model6.png    1x,
                  ./img/catalog/catalog-model6@2x.png 2x
                "
                src="./img/catalog/catalog-model6.png"
                alt="watch model 6"
                width="276"
                height="274"
                class="catalog-img"
              />
            </div>
            <div class="flip-card-back">
              <div class="card-back-content">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <h3 class="overlay-title">Details & featurestion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <a href="">
            <h3 class="catalog-title">Malawi Watch Police For Men</h3>
          </a>
          <p class="catalog-text">€555</p>
        </div>
      </li>
      <!-- watch model 7-->
      <li class="content-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/catalog/catalog-model7.png    1x,
                  ./img/catalog/catalog-model7@2x.png 2x
                "
                src="./img/catalog/catalog-model7.png"
                alt="watch model 7"
                width="276"
                height="274"
                class="catalog-img"
              />
            </div>
            <div class="flip-card-back">
              <div class="card-back-content">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <h3 class="overlay-title">Details & featurestion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <a href="">
            <h3 class="catalog-title">
              Diver 300M Co-Axial Master Chronometer
            </h3>
          </a>
          <p class="catalog-text">€1200</p>
        </div>
      </li>
      <!-- watch model 8-->
      <li class="content-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/catalog/catalog-model8.png    1x,
                  ./img/catalog/catalog-model8@2x.png 2x
                "
                src="./img/catalog/catalog-model8.png"
                alt="watch model 8"
                width="276"
                height="274"
                class="catalog-img"
              />
            </div>
            <div class="flip-card-back">
              <div class="card-back-content">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <h3 class="overlay-title">Details & featurestion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <a href="">
            <h3 class="catalog-title">Greenlane Watch By Police For Men</h3>
          </a>
          <p class="catalog-text">€1000</p>
        </div>
      </li>
      <!-- watch model 9-->
      <li class="content-item model-watch">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/catalog/catalog-model9.png    1x,
                  ./img/catalog/catalog-model9@2x.png 2x
                "
                src="./img/catalog/catalog-model9.png"
                alt="watch model 9"
                width="276"
                height="274"
                class="catalog-img"
              />
            </div>
            <div class="flip-card-back">
              <div class="card-back-content">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <h3 class="overlay-title">Details & featurestion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <a href="">
            <h3 class="catalog-title">Squardrc 5402 Chrono</h3>
          </a>
          <p class="catalog-text">€359</p>
        </div>
      </li>
      <!-- watch model 10-->
      <li class="content-item model-watch">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/catalog/catalog-model10.png    1x,
                  ./img/catalog/catalog-model10@2x.png 2x
                "
                src="./img/catalog/catalog-model10.png"
                alt="watch model 10"
                width="276"
                height="274"
                class="catalog-img"
              />
            </div>
            <div class="flip-card-back">
              <div class="card-back-content">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <h3 class="overlay-title">Details & featurestion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <a href="">
            <h3 class="catalog-title">Diver 300M Co-Axial Master...</h3>
          </a>
          <p class="catalog-text">€400</p>
        </div>
      </li>
      <!-- watch model 11-->
      <li class="content-item model-watch">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/catalog/catalog-model11.png    1x,
                  ./img/catalog/catalog-model11@2x.png 2x
                "
                src="./img/catalog/catalog-model11.png"
                alt="watch model 11"
                width="276"
                height="274"
                class="catalog-img"
              />
            </div>
            <div class="flip-card-back">
              <div class="card-back-content">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <h3 class="overlay-title">Details & featurestion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <a href="">
            <h3 class="catalog-title">Citizen</h3>
          </a>
          <p class="catalog-text">€519</p>
        </div>
      </li>
      <!-- watch model 12-->
      <li class="content-item model-watch">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/catalog/catalog-model12.png    1x,
                  ./img/catalog/catalog-model12@2x.png 2x
                "
                src="./img/catalog/catalog-model12.png"
                alt="watch model 12"
                width="276"
                height="274"
                class="catalog-img"
              />
            </div>
            <div class="flip-card-back">
              <div class="card-back-content">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <h3 class="overlay-title">Details & featurestion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <a href="">
            <h3 class="catalog-title">Armani Exchange</h3>
          </a>
          <p class="catalog-text">€400</p>
        </div>
      </li>
    </ul>
    <button type="button" class="js-open-modal catalog-button">Buy now</button>
  </div>
</section>
