<footer class="footer">
  <div class="footer-container container">
    <div class="footer-logo">
      <a class="footer-logo-link" href="./index.html">
        <svg class="footer-logo-icon" width="40" height="40">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
   <div class="footernav"></div>
    sale.html">Sale</a></li>
    </ul>
    <a class="phone-number" href="tel:+380684439426">+380 (68) 443-94-26</a>
    <p class="address">
      1678 S. Pioneer Road <br />
      Salt Lake <br />
      UT 84104
    </p>
    вшмd
     <div class="footer-social">
    <ul class="footer-social-list">
      <li class="footer-social-item">
        <a class="footer-social-link" href="">
          <svg class="footer-social-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a class="footer-social-link" href="">
          <svg class="footer-social-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a class="footer-social-link" href="">
          <svg class="footer-social-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="copyright">©2022 The Watch Spot. All rights reserved.</p>
    <div class="privacy-terms">
   <a class="privacy-policy" href="">Privacy Policy</a><a class="terms" href="">Terms of Service</a>
    </div>
  </div>
</footer>
