<header class="header">
  <div class="header-nav container">
    <nav class="header-nav">
      <a class="header-logo-link" href="./index.html">thewatchspot</a>
      <ul class="site-nav list">
        <li><a href="#about">About us</a></li>
        <li><a href="#catalog">Catalog</a></li>
        <li><a href="#sale">Sale</a></li>
      </ul>
    </nav>
    <button data-menu-open type="button" class="mobile-menu-open">
      <svg class="mobile-menu-open-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-mobile-menu"></use>
      </svg>
    </button>
    <address class="header-address header-nav list">
      <a class="button-address" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </address>
  </div>
  <div data-menu class="mobile-menu data-menu">
    <div class="mobile-menu-container container">
      <div class="header-nav-mobile">
        <a class="header-logo-link" href="./index.html">thewatchspot</a>
        <button data-menu-close type="button" class="mobile-close">
          <svg width="24" height="24">
            <use href="./img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <nav>
        <ul class="site-nav-mobile list">
          <li><a href="#about">About us</a></li>
          <li><a href="#catalog">Catalog</a></li>
          <li><a href="#sale">Sale</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
