<header class="header">
    <nav>
        <svg width="32" height="22">
            <use href="../img/icons.svg#icon-logo">

            </use>
        </svg>
        <p>
            thewatchspot  
        </p>
        <ul>
            <li> <a href="./index.html">ABOUT US</a></li>
            <li> <a href="./index.html">CATALOG</a></li>
            <li> <a href="./index.html">SALE</a></li>
        </ul>
    </nav>
    <address>
            <a href="tel:+380684439426">+380 (68) 443-94-26</a>
    </address>
</header>