<section class="hero section">
  <div class="hero-container container">
    <div class="hero_text-title-div">
      <h1 class="hero_title">Welcome to our collection of premium watches</h1>
    </div>
    <div class="hero_swiper_images-div">
      <div class="hero_div">
        <!--======Swiper======-->
        <div class="hero_swiper-div">
          <div class="hero_swiper">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img
                    srcset="./img/slider-mobile/slider-model1-mobile@2x.png"
                    src="./img/slider-mobile/slider-model1-mobile.png"
                    alt="watches"
                    width="226"
                    height="190"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    srcset="./img/slider-mobile/slider-model2-mobile@2x.png"
                    src="./img/slider-mobile/slider-model2-mobile.png"
                    alt="watches"
                    width="226"
                    height="190"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    srcset="./img/slider-mobile/slider-model3-mobile@2x.png"
                    src="./img/slider-mobile/slider-model3-mobile.png"
                    alt="watches"
                    width="226"
                    height="190"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    srcset="./img/slider-mobile/slider-model4-mobile@2x.png"
                    src="./img/slider-mobile/slider-model4-mobile.png"
                    alt="watches"
                    width="226"
                    height="190"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    srcset="./img/slider-mobile/slider-model3-mobile@2x.png"
                    src="./img/slider-mobile/slider-model3-mobile.png"
                    alt="watches"
                    width="226"
                    height="190"
                  />
                </div>
              </div>
              <div class="slider-control">
                <div class="slider-button-thumb">
                  <button type="button" class="hero-btn-slider-prev">
                    <svg class="icon-left" width="24px" height="24px">
                      <use href="./img/icons.svg#icon-left"></use>
                    </svg>
                  </button>
                  <button type="button" class="hero-btn-slider-next">
                    <svg class="icon-right" width="24px" height="24px">
                      <use href="./img/icons.svg#icon-right"></use>
                    </svg>
                  </button>
                </div>
                <div class="hero-swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
        <!--======Swiper======-->
        <p class="hero_text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <img
        class="hero_images"
        srcset="./img/hero/hero@2x.jpg"
        src="./img/hero/hero-mobile.jpg"
        alt="hend with wrist watch"
        width="335"
      />
    </div>
  </div>
</section>
