<section class="sale-section section">
  <div class="sale-container container" data-aos="fade-right">
    <h2 id="sale" class="sale-title">Sale</h2>
    <div class="extra-sale-container">
      <div
        class="sale-list-container"
        data-aos="fade-right"
        data-aos-duration="400"
      >
        <ul class="sale-list">
          <li class="sale-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="./img/sale/sale1.jpg 1x, ./img/sale/sale1@2x.jpg 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/sale-mobile/sale1-mobile.jpg    1x,
                  ./img/sale-mobile/sale1-mobile@2x.jpg 2x
                "
              />
              <img
                src="./img/sale/sale1.jpg"
                alt="first photo of watches on sale"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="./img/sale/sale2.jpg 1x, ./img/sale/sale2@2x.jpg 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/sale-mobile/sale2-mobile.jpg    1x,
                  ./img/sale-mobile/sale2-mobile@2x.jpg 2x
                "
              />
              <img
                src="./img/sale/sale2.jpg"
                alt="second photo of watches on sale"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="./img/sale/sale3.jpg 1x, ./img/sale/sale3@2x.jpg 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/sale-mobile/sale3-mobile.jpg    1x,
                  ./img/sale-mobile/sale3-mobile@2x.jpg 2x
                "
              />
              <img
                src="./img/sale/sale3.jpg"
                alt="third photo of watches on sale"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="./img/sale/sale4.jpg 1x, ./img/sale/sale4@2x.jpg 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/sale-mobile/sale4-mobile.jpg    1x,
                  ./img/sale-mobile/sale4-mobile@2x.jpg 2x
                "
              />
              <img
                src="./img/sale/sale4.jpg"
                alt="fourth photo of watches on sale"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="./img/sale/sale5.jpg 1x, ./img/sale/sale5@2x.jpg 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/sale-mobile/sale5-mobile.jpg    1x,
                  ./img/sale-mobile/sale5-mobile@2x.jpg 2x
                "
              />
              <img
                src="./img/sale/sale5.jpg"
                alt="fifth photo of watches on sale"
              />
            </picture>
          </li>
        </ul>
      </div>
      <div class="sale-thumb" data-aos="fade-down">
        <h3 class="sale-subtitle">Greenlane Watch By Police For MenHT</h3>
        <p class="sale-tag">Product tag: PEWJK2227003</p>
        <span class="new-price">€700</span>
        <span class="previous-price">€1000</span>
        <ul class="sale-info-list">
          <li class="sale-info-item">
            <h3 class="sale-info-title">Description</h3>
            <p class="sale-info-text">
              Richly detailed with an understated design - the Police Men's
              Greenlane watch features a versatile multifunction design that
              fits effortlessly into work and play. The steel case is adorned
              with a semi-transparent black dial. The timepiece exhibits a
              contrast through a black IP bracelet with matching crown and
              pushers.
            </p>
          </li>
          <li class="sale-info-item">
            <h3 class="sale-info-title">Datails & featurestion</h3>
            <ul>
              <li><p class="sale-info-text">Gender: man</p></li>
              <li><p class="sale-info-text">Size: 46x54.5mm</p></li>
              <li><p class="sale-info-text">Case Colour: Steel</p></li>
              <li><p class="sale-info-text">Band Material: Metal</p></li>
              <li><p class="sale-info-text">Case Material: Metal</p></li>
              <li><p class="sale-info-text">Features: Multifunction</p></li>
              <li><p class="sale-info-text">Water Resistant: 5 (ATM)</p></li>
              <li><p class="sale-info-text">Band Colour: Steel</p></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
