<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/base/base.css" />
    <link rel="stylesheet" href="../css/watches.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="section watches">
      <div class="container">
        <h2 class="watches-title">New watches</h2>
        <p class="watches-pre-title">
          Green And Bronze—The Match Made In Heaven
        </p>

        <div class="new-watches-list">
          <picture>
            <source
              srcset="
                ./img/new_watches/new-green-model.jpg    1x,
                ./img/new_watches/new-green-model@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/new_watches/new-green-model-tablet.jpg    1x,
                ./img/new_watches/new-green-model-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/new_watches/new-green-model-mobile.jpg    1x,
                ./img/new_watches/new-green-model-mobile@2x.jpg 2x
              "
            />
            <img
              src="./img/new_watches/new-green-model-mobile.jpg"
              alt="Green model"
            />
          </picture>

          <picture>
            <source
              srcset="
                ./img/new_watches/new-black-model.jpg    1x,
                ./img/new_watches/new-black-model@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/new_watches/new-black-model-tablet.jpg    1x,
                ./img/new_watches/new-black-model-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/new_watches/new-black-model-mobile.jpg    1x,
                ./img/new_watches/new-black-model-mobile@2x.jpg 2x
              "
            />
            <img
              src="./img/new_watches/new-black-model-mobile.jpg"
              alt="Black model"
            />
          </picture>
        </div>
      </div>
    </section>
  </body>
</html>
