.footer {
  background-color: #1e2827;
}
.footer-container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}
.footer-logo {
  color: white;
  display: block;
}
.footer-logo-link {
}
.footer-list {
  display: block;
  flex-direction: column;
  text-align: end;
  color: white;
}
.phone-number {
  color: white;
}
.address {
  color: white;
  margin-top: 20px;
}

.footer-social {
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-item {
}
.footer-social-icon {
  fill: white;
}
.footer-social-link {
}
.copyright {
  color: #c6cdd1;
}
.privacy-terms {
  color: #c6cdd1;
}
.privacy-policy {
  color: #c6cdd1;
}
.terms {
  color: #c6cdd1;
}
